<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="card-section">
  <%= form_for @organization, url: api_config_path, html: { class: 'form' } do |f| %>
    <%= f.text_field :diba_census_api_ine %>
    <%= f.text_field :diba_census_api_username %>
    <%= f.text_field :diba_census_api_password %>
    <%= f.submit t('.submit') %>
  <% end %>
  </div>
</div>