<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('admin.new.errors.title', scope: 'decidim.census') %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list table-list--lastleft table-census-errors">
        <thead>
          <tr>
            <th>
              <%= t('admin.new.errors.data.line', scope: 'decidim.census') %>
            </th>
            <th>
              <%= t('admin.new.errors.data.data', scope: 'decidim.census') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @invalid_rows.each do |row| %>
          <tr>
            <td>
              <%= row[:line] %>
            </td>
            <td>
              <%= row[:data].fields.join(';') %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
