<div class="reveal" id="loginModal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t("decidim.shared.login_modal.please_sign_in") %></h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <%= decidim_form_for(Decidim::User.new, as: :user, url: session_path(:user), html: { class: "register-form new_user" }) do |f| %>
        <div>
          <div class="field">
            <%= f.text_field :name, autofocus: true, value: ''  %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <%= hidden_field_tag :organization_id, current_organization.id %>
        </div>
        <div class="actions">
          <%= f.submit t("devise.sessions.new.sign_in"), class: "button expanded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
